* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

:root {
    --color-gray: #F4F5F9;
    --color-dark-gray: #838383;
    --color-black: #181818;
    --color-light: #ececec;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.color-gray {
    color: var(--color-gray);
}

.color-drk-gray {
    color: var(--color-dark-gray);
}

.bg-custom {
    background-color: var(--color-gray);
}

.btn-custom {
    background-color: var(--color-black);
    color: var(--color-light);
}

.btn-custom:hover {
    background-color: var(--color-gray);
    color: var(--color-black);
    border: solid 1px var(--color-black);
}

.hero {
    min-height: 60vh;
}

.container{
    h5{
        font-size: 16px;
        color: var(--color-dark-gray);
        font-weight: 400;
    }

    h2{
        font-size: 25px;
    }
}

a {
    text-decoration: none;
    
}